{# active: "for-you" | "explore" | "collections" | "following" | none. search: bool #}
<div class="nav">
  <div class="flex-c gap-20">
    <a class="brand" href="/app">n<em>a</em>mak</a>
    {% if search %}
    <a class="search" style="width:280px;text-decoration:none;" href="/app/feed"><span class="icon">⌕</span><span>Find ranked dishes</span></a>
    {% endif %}
  </div>
  <div class="navlinks">
    <a class="{{ 'act' if active=='for-you' }}" href="/app/feed">For you</a>
    <span class="navlink-soon" title="Coming soon">Explore</span>
    <a class="{{ 'act' if active=='collections' }}" href="/app/u/{{ demo_user.username if demo_user else 'areeba' }}#collections">Collections</a>
    <a class="{{ 'act' if active=='following' }}" href="/app/u/{{ demo_user.username if demo_user else 'areeba' }}#following">Following</a>
  </div>
  <div class="nav-r">
    <span class="icon">◔</span><span class="icon">☆</span>
    <a class="avatar" href="/app/u/{{ demo_user.username if demo_user else 'areeba' }}">{{ (demo_user.initial if demo_user else 'A') }}</a>
  </div>
</div>
